<title>Projects</title>
<h1>Projects:</h1>
<p><a href="https://github.com/Blue-Print-Company/OIAK">Office Activate Tool</a></p>
<p><a href="https://github.com/Blue-Print-Company/ZIP-to-PNG">ZIP To PNG</a></p>
<p><a href="https://github.com/Blue-Print-Company/Tor-Hosting-Kit">Tor Hosting Kit</a></p>
<p><a href="https://devcom.glideapp.io/">DevCom</a></p>
<p><a href="/">Home</a></p>

<style>
body {
  background-color: lightblue;
}
a:link, a:visited {
  background-color: #1b4bc5;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: blue;
}
</style>
